body {
    background-color: var(--mint-cream);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 10px;
    background: #6eacc9;
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    height: 100%;
}

nav .btn {
    background-color: #0a0a0a;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.heading {
    text-align: center;
    margin: 1rem 0;
    font-family: "Big Shoulders", serif;
}

.gallery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 1rem;
}

.gallery-header ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.gallery-header ul li button {
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.active-btn {
    background: #6eacc9;
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    gap: 0.5rem;
}

.hidden {
    display: none;
}

.gallery .photos {
    width: 100%;
    height: 10rem;
    position: relative;
}

.gallery .photos img,
.gallery .photos video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.download-link,
.btn-trash,
.vid-delete {
    width: 2rem;
    aspect-ratio: 1;
    background: #121212;
    border-radius: 50%;
    color: #ffffff;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    text-decoration: none;
    box-shadow: 0 0 2px #ffffff;
}

.vid-delete {
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;
}

.download-file-link {
    color: #0a0a0a;
}

.gallery .doc-card {
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.5rem;
    position: relative;
    border-radius: 0.3rem;
    box-shadow: 0 0 2px #334d50;
}

.doc-card p {
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.niger {
    position: absolute;
    right: 0.5rem;
}

.niger button,
.btn-trash,
.vid-delete {
    outline: none;
    border: 0;
    cursor: pointer;
}

.btn-trash,
.vid-delete {
    background: rgb(218, 23, 23);
}

.niger button {
    margin-left: 0.5rem;
    background: transparent;
    color: rgb(218, 23, 23);
}

.file_size, .file_doc_size, .file_vid_size {
    position: absolute;
    top: 0;
    right: 0;
    background: #0a0a0a;
    color: #ffffff;
    padding: .3rem 1rem;
    border-bottom-left-radius: .7rem;
}

.file_doc_size {
    top: -2rem;
    right: unset;
    border-top-right-radius: .7rem;
    /*display: none;*/
    transform: scale(0);
    transition: all 1s ease;
}

.file_vid_size {
    z-index: 1;
    right: unset;
    left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .7rem;
}

.doc-card:hover .file_doc_size {
    transform: scale(1);
}

.btn-trash {
    left: 0.5rem;
}

@media screen and (max-width: 600px) {
    .gallery-header {
        flex-direction: column;
    }

    .gallery-header ul {
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .gallery-header ul button {
        font-weight: unset;
        border-radius: 0 !important;
    }

    .gallery .photos {
        height: 15rem;
    }

    .gallery .doc-card {
        height: 2.5rem;
    }

    .doc-card p {
        width: 80%;
    }
}
